{% extends 'layouts/welcome.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<div id="mainblock" class="container-fluid" >

                <div  class="col-lg-7 ">
                  <div class=" centercolumn" style="height: 250px">
                      <strong class=" h1" style="color: rgba(7, 78, 122, 0.74)">Welcome!</strong>
                      <hr>
                    <p id="aboutcsi" class="modal-body"> &nbsp; &nbsp; <b>NLP toolkit</b> offers an online platform to play around with existing common NLP applications. This toolkit is a combination of state-of-the-art NLP techniques.
<br>Try the demo to analyze the outputs obtained by processing of natural language text. We also provide a free api key for each application to encourage reseachers.
                     <br></p>
					 </div>

                </div>
                <div  class="col-lg-5"  >
                    <div class="span6 " style="height: 250px" >
                    <img src = "static/img/nlp.jpg" style="height: 250px">
                    </div>
                </div>
                </div>

<div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2>Tokenization</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="{{ url_for('tokenizer_page') }}" role="button">Try it out  &raquo;</a></p>
          </div>
		  <div class="col-md-4">
            <h2>Text Representation</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Try it out  &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Named Entity Recognition</h2>
            <p><b>NER</b> is probably the first step towards information extraction that seeks to locate and classify named entities in text into pre-defined categories such as the names of persons, organizations, locations, expressions of times, quantities, monetary values, percentages, etc. NER is used in many fields in Natural Language Processing.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Try it out  &raquo;</a></p>
          </div>
		  <div class="col-md-4">
            <h2>Sentimental Analysis</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">Try it out  &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Summarization</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">Try it out  &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Machine Translation</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Try it out &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> 
{% endblock %}
