{% extends 'layouts/welcome.html' %}
{% block title %}Tokenize{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Welcome.</h1>
</div>
<p> Description Of Our Tokenizer</p>

<form action="{{ url_for('tokenize_call') }}" method="POST">
  <div class="form-group">
    <label for="text">Input text here:</label>
    <textarea class="form-control" name="text" rows="3"></textarea>
    <hr>
    <input type="submit" class="btn" name="submit_button" value="Tokenize Input">
  </div>
</form>


<!--form method="post">
    <textarea name="text"></textarea>
    <input type="submit">
</form-->

{% endblock %}
