<!DOCTYPE html>
<html>
<head>
<title>Named Entity Recognition</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(function() {
  $('input[name="type"]').on('click', function() {
    if ($(this).val() == 'Experienced') {
      $('#textboxes').show();
    } else {
      $('#textboxes').hide();
    }
    
    if ($(this).val() == 'Fresher') {
      $('#textboxes1').show();
    } else {
      $('#textboxes1').hide();
    }
  });
  
});

</script>
</head>
<body>
<div>
<h1>Named Entity Recognition</h1>

</div>

<div>
<form action="/getNER/" method="post">     
<div>
<h2> Choose your input</h2>
   <input type="radio" name="type" value="Fresher"> Enter Text
   <input type="radio" name="type" value="Experienced"> Enter URL
</div>

    
<div id="textboxes" style="display: none">
URL: <input type="url" name="url_ip" pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$"/> 

</div>

<div id="textboxes1" style="display: none">
Enter Text: <textarea id="txtarea" rows="4" cols="50" name="txt_ip">

</textarea>
</div>  
     
    <input type="submit" value="Get NER"/>
</form>
<br>
<div class="wrapper" id="output">
               		<div id="translated" style="display: block;">
               			<div class="row desc">
               				<span id="outputLang">Output:</span>
					
               			</div><br/>
                      		<div class="row">
                	            	<div id="outputText" class="row">
					 {{ tags | safe }}
					</div>
				</div>
			</div>
            	</div>
        </div>

</div>
</body>
</html>
