{% extends 'layouts/services.html' %}
{% block title %}Text Representation{% endblock %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div class="page-header">
  <h1>Text Representations</h1>
  <p> <u>Description Of Our Text Summarization Method</u></p>
  <p> This Text Representation module helps us find word / sentence embeddings where individual words are represented as real-valued vectors in a predefined vector space. Each word is mapped to one vector and the vector values are learned in a way that resembles a neural network. The main benefit of the dense representations is generalization power allowing words or sentences with similar meaning to have a similar representation. Google’s BERT and recent transformer-based methods hav outperformed the state-of-the-art on several tasks. It has been trained on a large dataset (Wikipedia (2.5B words) + BookCorpus (800M words)). Several models have been presented on Bert ,to  either improve its prediction metrics or computational speed, but not both. It is difficult to use such large models underlow latency constraints. Here we are providing pre-trained models of BERT and two variants of BERT - DistilBert and AlBert </p>
<p> <u>References</u></p>
<p><a href="https://arxiv.org/pdf/1810.04805.pdf"> Jacob Devlin, Ming-Wei Chang, Kenton Lee, and Kristina Toutanova. Bert: Pre-training of deep bidirectionaltransformers for language understanding. InNAACL-HLT, 2018.</a>
<p><a href=https://arxiv.org/pdf/1910.01108.pdf> Victor Sanh, Lysandre Debut, Julien Chaumond, and Thomas Wolf. Distilbert, a distilled version of bert:smaller, faster, cheaper and lighter.arXiv preprint arXiv:1910.01108, 2019.</a>
<p><a href=https://arxiv.org/pdf/1909.11942.pdf> Zhenzhong Lan, Sebastian Goodman, Piyush Sharma, and Radu Soricut. ALBERT ,  a  Lite BERT for self-supervised learning  of language represntations , 2019.</a>

<p> <u>Libraries and Resources used</u></p>
<p>1. PreTrained Models i.e BertModel, DistilBertModel and AlbertModel from transformers library in Python<br />
<p> <u>Author</u><br /> Hiranmai Sri Adibhatla <br />hiranmai.sri@research.iiit.ac.in</p>

</div>

<form action="{{ url_for('services.emb_call') }}" method="post">

<label for="text">Input text here:</label>
<textarea id="txtarea" class="form-control" rows="4" name="txt_ip">{{ input_text}}
</textarea>

<br>
<label for="text">Select Model type :</label>
<select id="id" name="id">
<option value ="100" name ="pruned">Bert Embeddings</option>
<option value ="101" name ="pruned">Distil Bert Embeddings</option>
<option value ="102" name ="pruned">AlBert Embeddings</option>
</select>
<br>
<input style="margin-top:0.5cm" class="btn" id="generate"type="submit" value="Generate Embeddings"/>


</form>

<br>
<form id="output">
	<label for="text">Embeddings</label>
  <textarea class="form-control" id="text" rows="3"> {{ output }}</textarea>
</form>

<hr>

<input type="button" class="btn btn-outline-info" id="btn" value="Download embeddings text file" />

            <script>
                function download(file, text) {

                    //creating an invisible element
                    var element = document.createElement('a');
                    element.setAttribute('href', 'data:text/plain;charset=utf-8, '
                                         + encodeURIComponent(text));
                    element.setAttribute('download', file);

                    //the above code is equivalent to
                    // <a href="path of file" download="file name">

                    document.body.appendChild(element);

                    //onClick property
                    element.click();

                    document.body.removeChild(element);
                }

                // Start file download.
                document.getElementById("btn").addEventListener("click", function() {

                    var text = document.getElementById("text").value;
                    var filename = "sentence_embeddings.txt";

                    download(filename, text);
                }, false);
            </script>

<div class="page-header">
  <p ><u><b>API Details:</b></u></p>
  <p style="text-indent: 2.5rem"><u>API end point</u></p>
  <p style="text-indent: 5rem">http://localhost:5000/GenerateEmbeddings/ <br />
  <p style="text-indent: 2.5rem"><u>Input JSON format</u></p>
  <p style="text-indent: 5rem">JSON should consist of two arguments :</p>
    <p style="text-indent: 5rem">key: "text" , value: text for which summary is to be generated.</p>
    <p style="text-indent: 5rem">key: "model", value: the model using which the embeddings are to be generated. </p>
  <p style="text-indent: 2.5rem"><u>Output JSON format</u></p>
  <p style="text-indent: 5rem">Service return a JSON with </p>
    <p style="text-indent: 5rem">key : "emneddings", value:  Embeddings of the sentence.</p>
	<p style="text-indent: 5rem">key : "emneddings", value:  Error Msg , if Any.</p>

</div>

{% endblock %}
