{% extends 'layouts/welcome_admin.html' %}
{% block title %}Home{% endblock %}
{% block content %}


<div id="mainblock" class="container-fluid" >

    <div  class="col-lg-7 ">
      <div class=" centercolumn" style="height: 250px">
          <strong class=" h1" style="color: rgba(7, 78, 122, 0.74)">Welcome {{ name }} !</strong>
          <hr>
          <p><b>NLP toolkit</b> offers an online platform to play around with existing common NLP applications. This toolkit is a
            combination of state-of-the-art NLP techniques.<br>
          <br>Try the demo to analyze the outputs obtained by processing of natural language text. We also provide a free api key
          for each application to encourage reseachers. <br></p>
      </div>

    </div>

    <div  class="col-lg-5" style="padding-left:20px" >
        <div class="span6 " style="height: 250px" >
          <img src = "static/img/nlp.jpg" style="height: 200px">
        </div>
    </div>
</div>

<div class="container" style="margin-top:2cm">
        <div class="row">
          <div class="col-md-4">
            <h2>Tokenization</h2>
            <p>Tokenization is a very common task in NLP, it is basically a task of chopping a given string into pieces, called as token, and throwing away
               the certain characters at the same time, like punctuation. Improper tokenisation can lead to subpar performance in downstream tasks. Here user
                can try few models for tokenisation.</p>
            <p><a class="btn btn-secondary" href="{{ url_for('services.tokenizer_page') }}" role="button">Try it out  &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Text Representation</h2>
            <p>Word Embeddings are a distributed representation for text that allows words with similar meaning to have a similar representation. State of the art
              embeddings like BERT, Albert, Distillibert, perform very well in NLP tasks. Here user can try to generate these embeddings for a sentence.</p>
            <p><a class="btn btn-secondary" href="{{ url_for('services.emb_page') }}" role="button">Try it out  &raquo;</a></p>
          </div>

          <div class="col-md-4">
              <h2>Transliteration</h2>
              <p>ISO 15919 "Transliteration of Devanagari and related Indic scripts into Latin characters" is a standard for romanization which uses diacritics to map the much
                larger set of consonants and vowels in Brahmic scripts to the Latin script. Transliteration is a common tool in any pipeline used for processing multilingual and code
                mixed language data. </p>
              <p><a class="btn btn-secondary" href="{{ url_for('services.emb_page') }}" role="button">Try it out  &raquo;</a></p>
          </div>

          <div class="col-md-4">
            <h2>Named Entity Recognition</h2>
            <p><b>NER</b> is probably the first step towards information extraction that seeks to locate and classify named entities in text into pre-defined categories such as the names
              of persons, organizations, locations, expressions of times, quantities, monetary values, percentages, etc. NER is used in many fields in Natural Language Processing.</p>
            <p><a class="btn btn-secondary" href="{{ url_for('services.ner_page') }}" role="button">Try it out  &raquo;</a></p>
          </div>
		  <div class="col-md-4">
            <h2>Sentimental Analysis</h2>
            <p> Sentiment Analysis is the process of determining whether a piece of writing is positive, negative or neutral by using NLP and ML techniques.
               Here the user can try sentiment Analysis for pure english text and hindi-english code mix text. </p>
            <p><a class="btn btn-secondary" href="{{ url_for('services.sentiment_page') }}" role="button">Try it out  &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Summarization</h2>
            <p>Summarization system consists of reduction of a text document to generate a new form which conveys the key meaning of the contained text. Extractive summarization means
              identifying important sections of the text and generating them verbatim producing a subset of the sentences from the original text. </p>
            <p><a class="btn btn-secondary" href="{{ url_for('services.summarize_page') }}" role="button">Try it out  &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Machine Translation</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo,
               tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="{{ url_for('services.mt_page') }}" role="button">Try it out &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div>

{% endblock %}
