{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1 style="text-align:center"><b>CSE 461 Software Engineering </b></h1>
  <h3 style="text-align:center"><b>Spring 2020 </b></h3>
  <h3 style="text-align:center"><b>IIIT Hyderabad </b></h3>
  <br>
</div>



<div class="row">

  <div class="col-sm-7" style="padding-right:1rem">

    <h3><u>Project Description</u></h3>

    <p style="text-align:justify"> This is the course project Demo site for CSE 461 Software Engineering, at IIIT Hyderabad,
      for the semester of Spring 2020.</p>
    <p style="text-align:justify"> NLP-toolkit-as-a-service, is a portal where developers can check the existing NLP models developed,
    or tried in an organisation / institution. A developer can publish his work in the portal, where other developers
    can explore the tool, try sample outputs. Also, information regarding the APIs of these each of these services will be
    shared by the developers here, which will enable a user to integrate the services into their tools is they wish to.
    </p>
    <p style="text-align:justify">Pleas login or register to proceed further.</p>
  </div>

  <div  class="col-lg-1"  >
    <div class="span3 " style="height: 250px" >
    <img align = "center" src = "static/img/team.jpg" style="height: 250px">
        <div class="container">
          <br>
          <br>

          <strong class="h3" style="color: rgba(7, 78, 122, 0.74)">Team</strong>

            <div class="row">
                <div class="col-sm-2">
                    <h5>Saumitra Yadav</h5>
                         <p>201507647<p>
                </div>

                <div class="col-sm-2">
                  <h5>Neha Motlani</h5>
                  <p>20161004<p>
                </div>

                <div class="col-sm-2">
                  <h5>Sunil Gundapu</h5>
                  <p>2018701022<p>
                </div>
            </div>

            <div class="row">
              <div class="col-sm-2">
                <h5>Ananya Mukherjee</h5>
                <p>2018801009<p>
              </div>
              <div class="col-sm-2">
                <h5>Prashant Kodali</h5>
                <p>2018801011<p>
              </div>

             <div class="col-sm-2">
               <h5>Hiranmai Sri Adibhatla</h5>
              <p>2018900044<p>
            </div>
            </div>
        </div>
    </div>
  </div>



</div>


<br />

</div>

{% endblock %}
