{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1 style="text-align:center"><b>CSE 461 Software Engineering </b></h1>
  <h3 style="text-align:center"><b>Spring 2020 </b></h3>
  <h3 style="text-align:center"><b>IIIT Hyderabad </b></h3>
  <br>
</div>



<div class="row">

  <div class="col-sm-7" style="padding-right:1rem">

    <h3><u>Project Description</u></h3>

    <p style="text-align:justify"> This is the course project Demo site for CSE 461 Software Engineering, at IIIT Hyderabad,
      for the semester of Spring 2020.</p>
    <p style="text-align:justify"> NLP-toolkit-as-a-service, is a portal where developers can check the existing NLP models developed,
    or tried in an organisation / institution. A developer can publish his work in the portal, where other developers
    can explore the tool, try sample outputs. Also, information regarding the APIs of these each of these services will be
    shared by the developers here, which will enable a user to integrate the services into their tools is they wish to.
    </p>
    <p style="text-align:justify">Pleas login or register to proceed further.</p>
  </div>



  <div class="col-sm-4" style="padding-left:10rem" >

    <h3><u>Team - 8 details</u></h3>
      <ul>
        <li>Saumitra Yadav</li>
        <li>Neha Motlani</li>
        <li>Sunil Gundapu</li>
        <li>Ananya Mukherjee</li>
        <li>Prashant Kodali</li>
        <li>Hiranmai Sri Adibhatla</li>
      </ul>

  </div>

</div>


</div>
<!-- <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p> -->

{% endblock %}
