{% extends 'layouts/services.html' %}
{% block title %}Home{% endblock %}
{% block content %}



<div class="page-header">
  <h1>Tokenization</h1>
  <p> <u>Description Of Our Tokenizer</u></p>
  <p>A tokenizer is in charge of preparing the inputs for a model. This tokenization service provides three options - 1. Word Tokenization using NLTK (python library) 2. Word Tokenization using Transformers with BERT Model and 3. Sentense Tokenization. </p>
  <p> <u>References</u></p>
  <p> HuggingFace's Transformers: State-of-the-art Natural Language Processing, https://arxiv.org/abs/1910.03771 </p>
  <!-- <p> <u>Library and Resources used</u></p>
  <p> 1. </p> -->
  <p> <u>Author</u></p>
  <p> Neha Motlani</p>
  <p> neha.motlani@research.iiit.ac.in</p>
</div>

<form method="POST" action = "{{ url_for('services.tokenize_call') }}" id="input">
  <div class="form-group">
    <label for="text">Input text here:</label>
    <textarea class="form-control" name="text" rows="3"> {{ input }}</textarea>

    <select style="margin-top:0.5cm" id="id" name="id">
      <option value ="101" name ="pruned">Word Tokenization NLTK</option>
      <option value ="102" name ="pruned">Word Tokenization Transformers</option>
      <option value ="201" name ="pruned">Sentence Tokenization NLTK</option>
      <option value ="201" name ="pruned">Sentence Tokenization deepsegment</option>
    </select><br /> 
    <br>
    <input type="submit" class="btn" name="submit_button" value="Tokenize Input">
  </div>
</form>


<form id="output">
  <label for="text">Output tokenized text:</label>
  <textarea class="form-control" id="output_text" rows="3"> {{ output }}</textarea>
</form>

<hr>

<div class="page-header">
  <p><u>API Details:</u></p>
  <p><u>API end point</u></p>
  <p>http://localhost:8080/gettokenizer</p>
  <p><u>Input JSON format</u></p>
  <p>JSON should consist of one argument :<br>
     key: "text" , value: text for which tokens need to be generated
  </p>
  <p><u>Output JSON format</u></p>
  <p>Service returns a JSOn with one key<br>
     key: "outputtext" , value: Tokens of the sentences
  </p>
</div>

{% endblock %}
