{% extends 'layouts/services.html' %}
{% block title %}Transliteration{% endblock %}
{% block content %}


<div class="page-header">
  <h1>Transliteration</h1>
  <p> <u>Description Of Our Tokenizer</u></p>
  <p> This transliteration service is for hindi in Devanagari script to romanized hindi that employs ISO 15919 standard for romanization. This service uses a
    character to diacritics map to compute the romanized character for a given character in Devanagari script. </p>

  <p> <u>References</u></p>
  <p><a href="https://en.wikipedia.org/wiki/ISO_15919/"> ISO-15919 standard wikipedia page</a>

    <p> <u>Libraries and Resources used</u></p>
    <p>Code base is is Python. No special libraries or packages are used.<br />
    <p> <u>Author</u><br /> Prashant Kodali <br />prashant.kodali@research.iiit.ac.in</p>

</div>

<form method="POST" action = "{{ url_for('services.transliteration_call') }}" id="input">
  <div class="form-group">
    <label for="text">Input text here:</label>
    <textarea class="form-control" name="text" rows="3"> {{ input }}</textarea>


    <br>
    <input type="submit" class="btn" name="submit_button" value="Transliterate">
  </div>
</form>


<form id="output">
  <label for="text">Transliterated Text:</label>
  <textarea class="form-control" id="output_text" rows="3"> {{ output }}</textarea>
</form>

<hr>

<div class="page-header">
  <p><u>API Details:</u></p>
  <p style="text-indent: 2.5rem"><u>API end point</u></p>
  <p style="text-indent: 5rem">http://localhost:7000/transliterate<br />
  <p style="text-indent: 2.5rem"><u>Input JSON format</u></p>
  <p style="text-indent: 5rem">JSON should consist of only one argument:</p>
    <p style="text-indent: 5rem">key: "text" , value: Devanagari script for which romanized text is to be generated.</p>
  <p style="text-indent: 2.5rem"><u>Output JSON format</u></p>
  <p style="text-indent: 5rem">Service return a JSON with two keys </p>
    <p style="text-indent: 5rem">key : "transliterated_text", value:  Summary of the sentence.</p>
    <p style="text-indent: 5rem">key : "error", value: 'None' if no error, else Error Description.</p>

</div>

{% endblock %}
